/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $turquoise-blue;
  }
  
  .error {
    background-color: $froly;
  }
  
  .info {
    background-color: $true-v;
  }
  
  .success {
    background-color: $emerald;
  }
  
  .warning {
    background-color: $coral;
  }