/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col-1 {
    background-color: $true-v;
    
  }
  
  .theme.col-2 {
    background-color: $coral;
  }
  
  .theme.col-3 {
    background-color: $mauve;
  }
  
  .theme.col-4 {
    background-color: $electric-blue;
  }
  
  .theme.col-5 {
    background-color: $chinook;
  }
  
  .theme.col-6 {
    background-color: $viking;
  }
  
  .theme.col-7 {
    background-color: $wewak;
  }
  
  .theme.col-8 {
    background-color: $vivid-tangerine;
   
  }
  
  .theme.col-9 {
    background-color: $froly;
  }
  
  .theme.col-10 {
    background-color: $emerald;
  }
  
  .theme.col-11 {
    background-color: $turquoise-blue;
  }
  
  .theme.col-12 {
    background-color: $riptide;
  }
  
  .card {
    flex-basis: 100%;
  }